IDI_ICON1	ICON	DISCARDABLE	"ReMix.ico"

#include <windows.h>

#define VER_FILEVERSION             RC_VERSION
#define VER_FILEVERSION_STR         RC_VERSION_STRING

#define VER_PRODUCTVERSION          RC_VERSION
#define VER_PRODUCTVERSION_STR      RC_VERSION_STRING

#define STRINGIFY1(x) #x
#define STRINGIFY(x) STRINGIFY1(x)

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

1 VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VER_DEBUG
FILEFLAGS      	VER_DEBUG
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "AHitB"
            VALUE "FileDescription",  "A replacement for the synthetic-reality Mix Game Server!"
            VALUE "FileVersion",      STRINGIFY1(VER_FILEVERSION_STR)
            VALUE "InternalName",     "ReMix"
            VALUE "LegalCopyright",   "Copyright ©NA The ReMix Project"
            VALUE "OriginalFilename", "remix.exe"
            VALUE "ProductName",      "remix"
            VALUE "ProductVersion",   STRINGIFY(VER_FILEVERSION_STR)
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
